@page "/ChangePassword"
@model ChangePasswordModel
@{
    Layout = "/Views/Shared/_LayoutManager.cshtml";
    ViewData["Title"] = "Đổi mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}


<div class="col-md-6">
        <h4>@ViewData["Title"]</h4>
        <form id="change-password-form" method="post">
        <partial name="_StatusMessage" for="StatusMessage" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" />
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" class="form-control" />
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}