<!-- Footer
       ================================================== -->
<footer>
    <div id="footer-section" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <ul class="footer-social-links">
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Trợ giúp</a></li>
                        <li><a href="#">Zalo</a></li>
                    </ul>
                    <br>
                    <br>
                    <P>
                        Nhân viên quản lý: Vũ Văn Hinh(EXT:535+27299/535+20770)<br>
                        <p>Email: system-attwvn@mail.foxconn.com</p><br>
                        <p>Nếu điện thoại không thể kết nối được,
                        Bạn hãy gửi những bất thường đến hộp thư của Ban an toàn trung ương,
                        chúng tôi sẽ xử lý và phản hồi trong thời gian ngắn nhất.</p> 
                        <br><p localize-content> Xin cảm ơn!</p>
                    </P>
                    <p class="copyright">
                        &copy; 2022 - Created With <i id="heart" class="fa-solid fa-heart"></i> By
                        <strong>ATTW</strong></a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- End footer -->