<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login </title>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="~/favicon.ico" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="~/assets/css/util.css">
	<link rel="stylesheet" type="text/css" href="~/assets/css/main.css">
	<!--===============================================================================================-->

	
</head>
<body>

	@RenderBody()
	

	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="~/assets/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/assets/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/assets/bootstrap/js/popper.js"></script>
	<script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/assets/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="~/assets/daterangepicker/moment.min.js"></script>
	<script src="~/assets/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="~/assets/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="~/assets/js/login.js"></script>
	@RenderSection("Scripts", required:false)
</body>
</html>
