<!-- Hero
      ================================================== -->
<section>
    <div id="hero-section" class="landing-hero" data-stellar-background-ratio="0">
        <div class="hero-content">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">

                        <div class="hero-text">
                            <div class="herolider">
                                <ul class="caption-slides">

                                    <li class="caption">
                                        <h1>Thông báo mới nhất</h1>
                                        <div class="div-line"></div>
                                        <p class="hero">Thông báo mới nhất</p>
                                    </li>

                                    <li class="caption">
                                        <h1>Thông tin về Covid-19</h1>
                                        <div class="div-line"></div>
                                        <p class="hero">增強抵抗力以預防新冠病毒</p>
                                    </li>

                                    <li class="caption">
                                        <h1>HIGH QUALITY CODE</h1>
                                        <div class="div-line"></div>
                                        <p class="hero">增強抵抗力以預防新冠病毒</p>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div class="hero-btn">
                            <a href="#landing-offer" class="btn btn-clean">Read more</a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>