@{
    var Culture = CultureInfo.CurrentCulture.Name;
}

<!-- Navbar -->
<header class="header">
    <nav class="navbar navbar-default navbar-static-top ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/assets/images/logosystem.png" alt="photo" id="logosystem" width="42px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="section-scroll" href="#wrapper"><localize>Trang chủ</localize></a></li>
                    <li class="dropdown">
                        <a class=" dropdown-toggle" role="button" data-toggle="dropdown" href="#" localize-content>Thông tin</a>
                        <ul class="dropdown-menu" style="right:auto;">
                            <li><a class="checkRole" href="#" localize-content>Kiểm tra quyền hạn</a></li>
                            <li><a class="checkFile" href="#"> </a></li>
                            <li><a class="checkId" href="#" localize-content>Kiểm tra tiến độ làm thẻ</a></li>
                            <li><a class="checkId" href="#" localize-content>Kiểm tra đơn môi trường</a></li>
                            <li>
                                <hr class="dropdown-divider">                               
                            </li>
                            <li><a class="dropdown-item" href="#" localize-content>Trung tâm quản lý</a></li>
                        </ul>
                    </li>
                    <li><a href="#features-section" localize-content>Trợ giúp</a></li>
                    <li><a href="#screenshots-section" localize-content>Quản lý hàng ra vào</a></li>
                    <li><a href="contact.html" localize-content>Liên hệ</a></li>
                  
                    <partial name="_LoginPartial" />
                    <li class="dropdown" style="padding-top:12px; text-transform:uppercase ; text-decoration:none">
                        <language-nav language-label="NativeName" view-context="ViewContext"></language-nav>
                        @*<language-nav language-label="NativeName" view-context="ViewContext" 
                                      cookie-handler-url="@(Url.Action("SetCultureCookie", "Home", new { area= "", cltr="{0}", returnUrl="{1}" }))">
                        </language-nav>*@
                    </li>
                </ul>
          
            </div>
        </div>
    </nav>
</header>

<!-- End Navbar -->
