<!-- Navbar -->
<header class="header">
    <nav class="navbar navbar-default navbar-static-top ">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation-nav">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="~/assets/images/logosystem.png" alt="photo" id="logosystem" width="40px"></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navigation-nav">
                <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a class="section-scroll" href="#wrapper">Trang chủ</a></li>
                    <li class="dropdown">
                        <a class=" dropdown-toggle" role="button" data-toggle="dropdown" href="#">Thông tin</a>
                        <ul class="dropdown-menu" style="right: auto;">
                            <li><a class="checkRole" href="#">Kiểm tra quyền hạn</a></li>
                            <li><a class="checkFile" href="#">Kiểm tra đơn</a></li>
                            <li><a class="checkId" href="#">Kiểm tra tiến độ làm thẻ</a></li>
                            <li>
                                <hr class="dropdown-divider">
                                </hr>
                            </li>
                            <li><a class="dropdown-item" href="#">Kiểm tra đơn môi trường</a></li>
                        </ul>
                    </li>
                    <li><a href="#features-section">Trợ giúp</a></li>
                    <li><a href="#screenshots-section">Quản lý hàng ra vào</a></li>
                    <li><a href="contact.html">Liên hệ</a></li>
                    <li><a data-toggle="model" href="login.html">Đăng nhập</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/assets/images/Flags/VN.png" />
                            VN
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu" style="right: auto;">
                            <li class="dropdown-item"><a href="#"><img src="~/assets/images/Flags/CN.png" />&nbsp CN</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<!-- End Navbar -->