<!-- Subscribe-section
        ================================================== -->
<section>
    <div id="subscribe-section">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                    <div class="newsletter-title text-center">
                        <h4 localize-content>Stay informed with our newsletter</h4>
                    </div> <!-- end newsletter-title -->
                    <form class="form-inline subscription-form mailchimp" id="subscribeform">
                        <!-- Subscription messages -->
                        <h5 class="subscription-success"></h5>
                        <h5 class="subscription-error"></h5>
                        <!-- Email input -->
                        <div class="form-group newsletter-field">
                            <input type="email" name="EMAIL" class="form-control" id="subscriber-email"
                                   placeholder="jane@example.com">
                        </div>
                        <!-- Subscribe button -->
                        <button type="submit" id="subscribe-button" class="btn btn-sm btn-dark">Subscribe</button>
                    </form>
                </div> <!-- end col-sm-6 -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </div> <!-- end subscribe-section -->
</section>
<!-- End subscribe section -->