 <!-- Back-to-top
    ================================================== -->
    <div class="back-to-top">
        <i class="fa fa-angle-up fa-3x"></i>
    </div> 
    <!-- end back-to-top -->



    <!--------------dark mode-------------------->
    <script src="~/assets/darkmode/darkmode-js.js"></script>

        <script>
            new Darkmode({
                bottom: '20px',
                right: '25px',
                time: '0.5s',
                label: '🌓'
            }).showWidget();
        </script>
    
    

    <!-- JS libraries and scripts -->
    <script src="~/assets/js/jquery-1.11.3.min.js"></script>
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script src="~/assets/js/bootstrap-hover-dropdown.min.js"></script>
    <script src="~/assets/js/jquery.appear.min.js"></script>
    <script src="~/assets/js/jquery.bxslider.min.js"></script>
    <script src="~/assets/js/jquery.owl.carousel.min.js"></script>
    <script src="~/assets/js/jquery.countTo.js"></script>
    <script src="~/assets/js/jquery.easing.1.3.js"></script>
    <script src="~/assets/js/jquery.imagesloaded.min.js"></script>
    <script src="~/assets/js/jquery.isotope.js"></script>
    <script src="~/assets/js/jquery.placeholder.js"></script>
    <script src="~/assets/js/jquery.stellar.min.js"></script>
    <script src="~/assets/js/jquery.waypoints.js"></script>
    <script src="~/assets/js/jquery.fitvids.js"></script>
    <script src="~/assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/assets/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/assets/js/jquery.countdown.js"></script>
    <script src="~/assets/js/jquery.navbar-scroll.js"></script>
    <script src="~/assets/js/main.js"></script>
