<!-- Offer================================================== -->
<section>
    <div id="landing-offer" class="pad-sec">
        <div class="container">

            <div class="title-section big-title-sec animated out" data-animation="fadeInUp" data-delay="0">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <h2 class="big-title" localize-content>THÔNG BÁO</h2>
                        <h1 class="big-subtitle" localize-content>
                            Ký duyệt đơn của hệ thống quản lý ra vào cổng 114 trên Icivet-Page ATTW chính thức đưa vào sử dụng
                        </h1>
                        <hr>
                        <p class="about-text" localize-content>
                            Từ ngày 10/06/2022 thúc đẩy gửi ký duyệt đơn các đơn trên hệ thống quản lý ra vào cổng 114 trên Icivet-Page ATTW chính thức được đưa vào sử dụng. Bắt đầu từ ngày 10/06/2022 đến ngày 01/07/2022 chức năng gửi ký duyệt trên ứng dụng Icivet-Page ATTW và ký duyệt trên Page Zalo ATTW sử dụng đồng thời song song.Từ ngày 01/07/2022 sẽ hủy bỏ gửi ký duyệt các đơn của hệ thống 114 trên Page Zalo ATTW.Sau này chỉ sử dụng Icivet-Page ATTW gửi ký duyệt các đơn trên hệ thống 114.
                        </p>
                    </div>
                </div> <!-- End row -->
            </div> <!-- end title-section -->

            <div class="offer-boxes">

                <div class="row">
                    <div class="col-sm-4">
                        <div class="offer-post text-center animated out" data-animation="fadeInLeft" data-delay="0">
                            <div class="offer-icon">
                                <span class="icon-phone"></span>
                            </div>
                            <h4 localize-content>Nhà xưởng Quế Võ (535+Ext.)</h4>
                            <p localize-content>
                                Cổng A1: 27811
                                Cổng A2: 27822
                                Cổng A3: 27833
                                QVX3: 26228/26227
                                QV2: 19070/19069
                                Thiên Kim: 26614
                                Kho QV3: 25069
                            </p>
                        </div> <!-- End offer-post -->
                    </div> <!-- End col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="offer-post text-center animated out" data-animation="fadeInUp" data-delay="0">
                            <div class="offer-icon">
                                <span class="icon-mobile"></span>
                            </div>
                            <h4 localize-content>Nhà xưởng Đồng Vàng(535+Ext.)</h4>
                            <p localize-content>
                                Làm thẻ: 22372
                                Cổng A1: 22600/22634
                                Cổng A2 : 22696/22695
                                Cổng A3: 22412/22419
                            </p>
                        </div> <!-- End offer-post -->
                    </div> <!-- End col-sm-4 -->

                    <div class="col-sm-4">
                        <div class="offer-post text-center animated out" data-animation="fadeInRight" data-delay="0">
                            <div class="offer-icon">
                                <span class="icon-tablet"></span>
                            </div>
                            <h4>Nhà xưởng Quang Châu (535+Ext.)</h4>
                            <p>
                                Làm Thẻ: 30808
                                Cổng P1: 30311
                                Cổng P2: 30312
                                Cổng P3: 30237
                                Cổng Khu S: 30231
                                Cổng F2: 30806
                                Cổng F3: 30242
                                Cổng F1: 31973
                                Cổng F4: 31974
                                Cổng M1: 30804
                                Cổng M2: 31976
                                Cổng M3: 30803
                            </p>
                        </div> <!-- End offer-post -->
                    </div> <!-- End col-sm-4 -->

                </div> <!-- End row -->

            </div> <!-- End offer-boxes -->
        </div> <!-- End container -->
    </div> <!-- End landing-offer-section -->
</section>
<!-- End offer section -->
<section>
    <div class="sep-section"></div>
</section>